*{
                margin: 0;
                padding: 0;
}
body{
                height: 100vh;
}
.box >div {
                
                border-radius: 9px;
                padding: 10px;
                background-color: pink;
}
.box{
                display: grid;
                grid-template-rows: 40px 1fr 40px;
                grid-template-columns: 1fr 4fr;
                height: 100%;
                gap:10px;
}
.box-1{
                grid-column-start: 1;
                grid-column-end: 4;
}
.box-3{
                grid-column-start:2;
                grid-column-end: 4;

}         
.box-4{
                grid-column-start:1;
                grid-column-end: 4;

}               