ul{
    list-style-type: none;
    padding: 5px;
    text-align: center;
}
#maleList{
    background-color: aqua;
    width: 150px;
    height: 150px;
}
#femaleList{
    background-color: pink;
    width: 150px;
    height: 150px;
}
