#box{
    background-color: orangered;
    width: 150px;
    height: 250px;
}
.text-white{
    color: wheat;
}
.bg-red{
    background-color: red;
    width: 150px;
    height: 250px;
}
.bg-blue{
    background-color: blue;
    width: 150px;
    height: 250px;
}