/* 
.button{
    background: red;
} */
.btn{
    padding: 10px 5px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
.primary{
 background: blue;   
}
.error{
 background: red;   
}
.warning{
    background-color: orange;
}
.success{
    background: green;
}
/* وقتی از ماژول سی اس اس استفاده میکنیم که بخایم یه استایل خاص رو به یه کامپونت بدیم و به اصطلاح اسکوپ همون کامپونت بکینم  */